#intro-paragraph {
  font-size: 20px;
  color: blue;
  font-weight: bold;
}
.section-heading {
  font-weight: bold;
  text-transform: uppercase;
}
.container {
  background-color: red;
  color: white;
  padding: 20px;
  margin: 30px;
  background-image: url("BLII5393.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  background-attachment: fixed;
}
